<launch>



    <include file="$(find pearl_ur5e)/launch/robot.launch"/>

    
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    	<arg name="filters" value="pointcloud"/>
    	<arg name="align_depth" value="True"/>
    	<arg name="allow_no_texture_points" value="True"/>
    	<arg name="ordered_pc" value="True"/>
    </include>
    
    <node name="camera_base_broadcaster" pkg="pearl_ur5e" type="camera_base_broadcaster.py"/>

</launch>
